.aboutContainer {
  height: calc(100vh - 56px);
}

.aboutRow {
  opacity: 0%;
  animation: 2s ease-out forwards fadeIn;
}

.rowOne {
  opacity: 0%;
  animation: 2s 1s ease-out forwards fadeIn;
}

.rowTwo {
  opacity: 0%;
  animation: 2s 2s ease-out forwards fadeIn;
}

.rowThree {
  opacity: 0%;
  animation: 2s 3s ease-out forwards fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
